
<h2>TOP 100 podcasts</h2>
<table>
  <tr>
    <td>
        <ul class="podcasts">
            <li *ngFor="let podcast of podcasts" (click)="onSelect(podcast)"> 
              <span>{{podcast.title.label}}</span>
            </li>
        </ul>
    </td>
    <td valign="top">
        <div *ngIf="selectedPodcast">

            <h3>{{selectedPodcast.title.label | uppercase}}</h3>
                
      <img src='{{selectedPodcast["im:image"][0]["label"]}}' height='{{selectedPodcast["im:image"][0]["attributes"]["height"]}}'>
       
            <div><span>by: </span>{{selectedPodcast['im:artist']['label']}}</div>
            <div><span>Description: </span></div>
            <div><span>{{selectedPodcast.summary.label}}</span></div>
          
          </div>
    </td>
  </tr>
</table>


